@model RegisterModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}

<div class="container-fluid" style="margin-top: 120px;">
    <div class="rounded d-flex justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 shadow-lg p-5 pb-4 bg-light">
            <div class="text-center">
                <h3 class="text-primary">Register</h3>
            </div>
            <form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="p-4">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text bg-primary">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <input asp-for="Email" class="form-control" placeholder="Enter email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text bg-primary">
                                <i class="fas fa-key"></i>
                            </span>
                            <input asp-for="Password" class="form-control" placeholder="Enter password">
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text bg-primary">
                                <i class="fas fa-unlock-alt"></i>
                            </span>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary text-center" type="submit">
                        Register
                    </button>
                    <p class="text-center mt-5">
                        Already have an account?
                        <a asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl" class="text-primary">Sign In</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}