<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - ECommerce</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link href="~/adminlte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)

    <!-- Theme style -->
    <link href="~/adminlte/css/adminlte.min.css" rel="stylesheet" />
</head>
<body class="hold-transition">
    <!-- Navbar -->
    <!-- Content Wrapper. Contains page content -->
    @RenderBody()

    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- AdminLTE App -->
    <script src="~/adminlte/js/adminlte.min.js"></script>
</body>
</html>