@model CartProductListModel

@{
    ViewData["Title"] = "Cart";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Cart</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="active">Cart</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <div class="cart shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="block">
                        <div class="product-list">
                            <form method="post">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="">Item Name</th>
                                            <th class="">Item Price</th>
                                            <th class="">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var product in Model.Products)
                                        {
                                            <tr class="">
                                                <td class="">
                                                    <div class="product-info">
                                                        <img width="80" height="110" class="object-cover" src="@product.ImageUrl" alt="" />
                                                        <a asp-controller="Shop" asp-action="ViewProduct" asp-route-id="@product.Id">@product.Name</a>
                                                    </div>
                                                </td>
                                                <td class="">$@product.Price</td>
                                                <td class="">
                                                    <a class="product-remove" href="#!">Remove</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="checkout.html" class="btn btn-main pull-right">Checkout</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>