@model ProductListModel
@{
    ViewData["Title"] = "Shop";
}


<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Shop</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">shop</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="widget">
                    <h4 class="widget-title">Search Product</h4>
                    <form method="post" action="#">
                        <input class="form-control" placeholder="Search..." id="shop-search" />
                    </form>
                </div>
                <div class="widget">
                    <h4 class="widget-title">Sort By</h4>
                    <form method="post" action="#">
                        <select class="form-control" asp-items="ViewBag.ProductSortValues" id="shop-product-sort">
                            <option value="0">None</option>
                        </select>
                    </form>
                </div>
                <div class="widget">
                    <h4 class="widget-title">Filter By</h4>
                    <form method="post" action="#">
                        <select class="form-control">
                            <option>Man</option>
                            <option>Women</option>
                            <option>Accessories</option>
                            <option>Shoes</option>
                        </select>
                    </form>
                </div>
                <div class="widget product-category">
                    <h4 class="widget-title">Categories</h4>
                    <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Shoes
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="#!">Brand & Twist</a>
                                        </li>
                                        <li>
                                            <a href="#!">Shoe Color</a>
                                        </li>
                                        <li>
                                            <a href="#!">Shoe Color</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Duty Wear
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="#!">Brand & Twist</a>
                                        </li>
                                        <li>
                                            <a href="#!">Shoe Color</a>
                                        </li>
                                        <li>
                                            <a href="#!">Shoe Color</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        WorkOut Shoes
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="#!">Brand & Twist</a>
                                        </li>
                                        <li>
                                            <a href="#!">Shoe Color</a>
                                        </li>
                                        <li>
                                            <a href="#!">Gladian Shoes</a>
                                        </li>
                                        <li>
                                            <a href="#!">Swis Shoes</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" id="shop-products">
                </div>
                <partial name="Partials/Products/_ProductPopupModal" />
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link href="~/lib/sweetalert2/css/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .widget{
            margin-bottom: 10px;
        }
    </style>
}
@section Scripts{
    <script src="~/lib/sweetalert2/js/sweetalert2.all.min.js"></script>
    <script src="~/avito/js/productpopupmodalpopulate.js"></script>
    <script>
        $(document).ready(function () {

            console.log($("#shop-search").val(), $("#shop-product-sort").val());

            getProducts();
        });

        $("#shop-search").keyup(function () {
            getProducts();
        });

        $("#shop-product-sort").change(function(){
            getProducts();
        });

        function getProducts() {

            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "Shop/GetProductsJson",
                traditional: true,
                data: {
                    searchString: $("#shop-search").val(),
                    sortValue: $("#shop-product-sort").val()
                },
                success: function (result) {
                    var html = "";
                    $.each(result, function (index, value) {
                        html += '<div class="col-md-4 remove-class">' +
                            '<div class="product-item">' +
                            '<div class="product-thumb">' +
                            '<span class="bage">New</span>' +
                            '<img class="img-responsive object-cover" src="' + value.imageUrl + '" style="height: 315px;" alt="product-img" />' +
                            '<div class="preview-meta">' +
                            '<ul>' +
                            '<li>' +
                            '<span data-toggle="modal" data-target="#product-popup-modal" onclick="populateProductPopupModal(' + `'${value.id}'` + ')">' +
                            '<i class="tf-ion-ios-search-strong"></i>' +
                            '</span>' +
                            '</li>' +
                            '<li>' +
                            '<a href="#!">' +
                            '<i class="tf-ion-ios-heart"></i>' +
                            '</a>' +
                            '</li>' +
                            '<li>' +
                            '<a href="#!" onclick = "addThisProductToCart(' + `'${value.id}'` + ')" >' +
                            '<i class="tf-ion-android-cart"></i>' +
                            '</a>' +
                            '</li>' +
                            '</ul>' +
                            '</div>' +
                            '</div>' +
                            '<div class="product-content">' +
                            '<h4>' +
                            '<a href="/Shop/ViewProduct/' + value.id + '">' + value.name + '</a>' +
                            '</h4>' +
                            '<p class="price">$' + value.price + '</p>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                    });
                    $("#shop-products").empty();
                    $("#shop-products").append($.parseHTML(html));
                }
            });
        }

    </script>
}