<section class="py-5 bg-light">
    <div class="container">
        <div class="row text-center gy-3">
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <i class="fas fa-shipping-fast fa-3x" style="color: #666666"></i>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Free shipping</h6>
                            <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <i class="fas fa-headset fa-3x" style="color: #666666"></i>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                            <p class="text-sm mb-0 text-muted">Free shipping worldwide</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-inline-block">
                    <div class="d-flex align-items-end">
                        <i class="far fa-credit-card fa-3x" style="color: #666666"></i>
                        <div class="text-start ms-3">
                            <h6 class="text-uppercase mb-1">Esay payment</h6>
                            <p class="text-sm mb-0 text-muted">Accept all payment methods</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>